@model ChangePasswordModel
<div class="container pt-lg-7" style="padding-top: 3rem !important;">
    <div class="row justify-content-center">
        <div class="col-lg-5">
            <div class="card bg-secondary shadow border-0">
                <div class="card-body px-lg-5 py-lg-5" style="padding-bottom: 1rem !important;">
                    <div class="text-center text-muted mb-4">
                        <h4>Задать новый пароль</h4>
                    </div>
                    @if (ViewBag.IsSuccess == true)
            {
                <div class="alert alert-success" role="alert"> 
                    Пароль был успешно изменён
                </div>
            }
                    <form asp-area="" asp-controller="Account" asp-action="ChangePassword" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
                        <div asp-validation-summary="All"></div>
                        <div class="form-group mb-3">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> </span>
                                </div>
                                <input asp-for="CurrentPassword" class="form-control" placeholder=" Текущий пароль" />
                            </div>
                        </div>
                        <div class="form-group focused">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> </span>
                                </div>
                                <input asp-for="NewPassword" class="form-control" placeholder=" Новый пароль" type="password" />
                            </div>
                        </div>
                        <div class="form-group focused">
                            <div class="input-group input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"> </span>
                                </div>
                                <input asp-for="ConfirmNewPassword" class="form-control" placeholder=" Подтвердите пароль" type="password" />
                            </div>
                        </div>
                        <div class="text-center">
                            <input type="submit" class="btn btn-primary my-4" value="Сохранить" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>