 <!-- End Navbar -->
<footer class="footer" style="background-color: #344675">
    <div class="container">
        <div class="row row-grid align-items-center mb-5">
            <div class="col-lg-6">
                <h3 class="navbar-brand" style="color:white">Crowdfunding camp</h3>
                <h4 class="text-white display-1" style="color:white; font-size: 15px">Новый способ помогать хорошим идеям</h4><br />
                <h4 class="mb-0 font-weight-light" style="color:white; font-size: 15px">Авторизируйтесь, чтобы создать проект</h4>
            </div>
            <div class="col-lg-6 text-lg-center btn-wrapper">
                <button target="_blank" href="https://www.facebook.com/CreativeTim/" rel="nofollow" class="btn-icon-only rounded-circle btn btn-facebook" data-toggle="tooltip" data-original-title="Like us">
                    <span class="btn-inner--icon"><i class="fab fa-facebook"></i></span>
                </button>
                <button target="_blank" href="https://twitter.com/creativetim" rel="nofollow" class="btn btn-icon-only rounded-circle" data-toggle="tooltip" data-original-title="Follow us" style="background-color: #5181b8">
                    <span class="btn-inner--icon"><i class="fa fa-vk"  style="color: white"></i></span>
                </button>
                <button target="_blank" href="https://dribbble.com/creativetim" rel="nofollow" class="btn btn-icon-only btn-google-plus rounded-circle" data-toggle="tooltip" data-original-title="Follow us">
                    <span class="btn-inner--icon"><i class="fa fa-google"></i></span>
                </button>
            </div>
        </div>
        <hr />
        <div class="row align-items-center justify-content-md-between">
            <div class="col-md-6">
                <div class="copyright">
                    &copy; 2021 <a href="" target="_blank">Crowdfundcamp.com</a>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-footer justify-content-end">
                    <li class="nav-item">
                        <a href="" class="nav-link" target="_blank">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" target="_blank">Аккаунт</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" target="_blank">Поиск</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>